body

  h1, h2, h3, h4, h5, h6

  h1
    font-weight: 600
    font-size: 3rem
    line-height: 1.1em
    letter-spacing: -0.02em
    color: $primary

    @media #{$media-sm-plus-up}
      font-size: 4rem

  h2
    color: $white_primary

  h3
    font-size: 1.4rem
    line-height: 150%
    color: $secondary

  h4
    color: $white_primary
  h5
  h6

  p

  a
  b, strong
  i, em
  mark
  strike
  u

  img

  hr

  time

  blockquote, q

  ul, ol
    li

  table
  thead
  tbody
  th, td

  video
  audio

  iframe
