.grid-view__wrapper
  background: transparent
  bottom: 0
  display: flex
  left: 0
  pointer-events: none
  position: fixed
  right: 0
  top: 0
  z-index: 999

  .grid-view__col
    background: transparent
    border: 1px solid #6F87A015
    flex-grow: 1