.lamborghini
  min-height: 100vh
  background-color: $white_secondary
  display: flex
  padding: 3.1rem
  padding-bottom: 6.8rem
  flex-direction: column
  padding-left: 0
  padding-right: 0

  @media #{$media-sm-up} 
    padding-top: 10.5rem 

  .info
    flex: 0 0 37%
    padding-left: 8.4%
    padding-right: 8.4%

    &__title
      margin-bottom: 3rem

      @media #{$media-sm-up} 
        margin-bottom: 3.7rem

    &__text
      margin-bottom: 3rem

      @media #{$media-sm-up} 
        margin-bottom: 3.7rem

    &__specifications
      column-count: 2
      margin-bottom: 4.3rem

      &-wrap
        flex: 0 0 49%
        
      &-item
        font-size: 16px
        line-height: 110%
        color: #4F4F4F
        font-weight: 100
        margin-bottom: 2rem

      &-title
        text-transform: uppercase
        font-weight: 600
        font-size: 16px
        line-height: 110%
        margin-bottom: 0.5rem

  .slide
    align-items: flex-end

    &__main
      width: 97%

    &__secondary
      display: none !important

    &__item
      width: 97%
      display: flex
      justify-content: flex-end
      margin-bottom: 60px
