.lf
  min-height: 100vh
  background: linear-gradient(90deg, #2F3B47 0%, #435465 100%)

  &__top
    background: linear-gradient(90deg, #2F3B47 0%, #435465 100%)
    height: 8.4vw
    display: flex

    &-white
      background: #ffffff
      width: 100/12*7%

  &__bottom
    background: linear-gradient(90deg, #2F3B47 0%, #435465 100%)
    height: 8.4vw
    display: flex
    justify-content: flex-end

    &-white
      background: #ffffff
      width: 100/12*4%

  &__content
    min-height: calc(100vh - 8.3vw*2)

  &__col
    flex-basis: 50%

  &__title-wrap

  &__text-wrap
