.mustang
  background-color: $white_secondary
  display: flex
  padding-top: 3.1rem
  padding-bottom: 6.8rem
  flex-direction: column

  @media #{$media-sm-plus-up} 
    padding-top: 10.5rem
    padding-bottom: 0
    flex-direction: row

  .info
    padding-left: 8.4vw
    padding-right: 0
