.mustang
  background-color: $white_secondary
  display: block
  padding-top: 3.1rem
  padding-bottom: 6.8rem
  flex-direction: column

  @media #{$media-sm-plus-up}
    display: flex
    padding-top: 10.5rem
    padding-bottom: 0
    flex-direction: row

  .info
    padding-left: 8.4vw
    padding-right: 0
    justify-content: flex-start

  &__box
    display: none

    @media #{$media-sm-plus-up}
      background-color: $white_secondary
      bottom: -2px
      display: block
      height: 6vw
      position: absolute
      right: -2px
      width: $padding-navbar
