//----------------------------------
// Default navbar
//----------------------------------
.navbar
  margin-top: 38px
  padding: 0 $padding-navbar
  display: flex
  justify-content: space-between
  align-items: flex-start
  position: absolute
  width: 100%

  @media #{$media-sm}
    margin-top: 25px
    justify-content: center

  &__logo

  &__contact-info
    @media #{$media-sm}
      display: none

  &__item
    margin-right: 34px

  &__tel
    font-size: 1.8rem
    color: #333333
