.services
  background: #F2F2F2
  &__title-wrap
    padding-top: 10.5rem
    padding-left: $padding-navbar

  &__card-wrap
    display: flex
    flex-direction: column

    @media #{$media-sm-plus-up}
      flex-direction: row

  &__button
    position: relative
    height: 6rem
    z-index: 102

.card
  width: auto
  min-height: 72rem
  z-index: 101
  
  @media #{$media-sm-plus-up}
    width: 25vw

  &:nth-child(1)
    @media #{$media-sm-plus-up}
      width: 33.333vw

  // &:hover
  //   width: 33vw

  //   .card__content
  //     transform: translateX($padding-navbar/2)

  &__image-wrap
    min-height: 36rem

  &__image
    height: 36rem

  &__content
    padding: 0 0 0 8.333vw
    max-width: auto

    @media #{$media-sm-up}
      padding: 0 4.2rem
      max-width: 24.7vw

    &-test
      background: #FFFFFF

    &-foto
      background: #FAFAFA

    &-gift
      background: #F4F4F4

  &__title
    font-size: 2.5rem
    line-height: 1.1em
    margin: 0
    min-height: 13rem
    display: flex
    align-items: center

  &__text

  &__link
    color: #eb5757
    font-size: 1.4rem
    line-height: 1.5em

.test-btn
  position: absolute
  right: 0
  text-align: right
  top: -47rem