.test-drive
  min-height: 100vh
  width: 100%
  background:url(/img/mask-test-drive.png) center center  no-repeat, url(/img/bg-test-drive.png) center center no-repeat
  background-size: cover
  padding-top: 3.8rem

  &__content
    display: flex
    justify-content: center
    align-items: center
    height: 100%
    width: 100%
    padding: 30vh 5.3vw
    flex-direction: column

    @media #{$media-sm-plus-up}
      padding: 30vh 9vw

  &__text
    font-weight: 300
    font-size: 40px
    line-height: 110%
    text-align: center
    letter-spacing: -0.03em
    color: $white_primary
    letter-spacing: -0.5px
    margin-bottom: 38px

    @media #{$media-sm} 
      font-size: 30px
      line-height: 40px

    &_bold
      font-family: Montserrat-Bold
