.content
  background: linear-gradient(180deg, $white_primary 0%, $white_secondary 100%)
  display: flex
  flex-direction: column
  min-height: 100vh
  padding-top: 12rem
  width: 100%

  @media #{$media-sm-plus-up}
    padding-top: 16.3rem

.slide
  align-items: center
  display: flex
  height: 100%

  @media #{$media-sm-plus-down}
    flex-direction: column
  
  @media #{$media-sm}
    flex-direction: column
    justify-content: space-around

  &__info
    margin-bottom: 6.6rem
    padding: 0 6%
    flex: 0 0 34%

    @media #{$media-sm-plus-up}
      padding: 2.3rem 0 0 0
      margin-bottom: 4rem

    &-text
      display: none

      @media #{$media-sm-up}
        display: block
        margin-top: 3.4rem
        width: 71%

  &__picture
    position: relative
    display: flex
    flex-direction: column
    align-items: flex-end
    left: 1rem

    @media #{$media-sm-plus-up}
      top: -5px
      left: -13px
      width: 100%

    &-img
      position: relative
      z-index: 2
      width: 100%

      @media #{$media-sm}
        left: 10.5%
        transform: scale(1.28)

    &-bgText
      position: absolute
      top: -8.4rem
      left: 17px
      font-size: 20rem
      line-height: 25.1rem
      letter-spacing: -0.4rem
      color: $white_secondary
      white-space: nowrap
      font-family: 'Source Sans Pro', sans-serif
      font-weight: 900

      @media #{$media-sm}
        font-size: 100px
        top: -140px

  &__wrap
    align-items: center
    display: flex
    flex-direction: column
    justify-content: center
    margin-top: 3.3rem
    min-height: 6rem
    padding-right: 12rem
    text-align: right

    @media #{$media-sm-up}
      display: flex
      flex-direction: row
      justify-content: flex-end
      margin-top: 1rem
      padding-right: 7.1vw
      width: 100%
      

    &_pagination
      bottom: 5.5rem
      display: flex
      flex-direction: row
      justify-content: flex-end
      margin-right: -1rem
      padding-right: 0
      position: relative

      @media #{$media-sm-plus-up}
        bottom: 0
        margin-right: 0
        padding-right: 0
        padding-right: 36.6%

  &__car-name
    font-size: 30px
    color: $primary
    letter-spacing: -0.03em

    @media #{$media-sm-plus-down} 
      display: flex
      flex-direction: row
      text-align: end

    @media #{$media-sm}
      display: flex
      align-items: center
      font-size: 24px
      line-height: 1.1em
  
  &__buy
    display: none

    @media #{$media-sm-plus-up}
      background: linear-gradient(90deg, #EB5757 0%, #E62887 100%)
      box-shadow: 0px 5px 15px rgba(230, 40, 135, 0.5)
      color: $white_primary
      display: block
      font-size: 1.8rem
      margin-left: 5rem
      // max-width: 22vw
      padding: 1.3rem 3.5rem
      text-transform: uppercase
      transform: matrix(0.98, 0, -0.18, 1, 0, 0)
      // width: 100%
    
    &_mobile
      display: block
      margin: 1.8rem auto 7rem
      padding: 0.9rem 3rem
      position: relative

      @media #{$media-sm-plus-up}
        display: none

    &_text
      display: block
      transform: matrix(0.98, 0, 0.18, 1, 0, 0)
      text-align: center

      @media #{$media-sm} 
        font-size: 1.8rem


  &__pagination
    width: 5rem
    height: 5rem
    background-color: $primary
    background-position: center center
    cursor: pointer

    &_prev
      background: url(/img/icons/arrow-prev.png) center center no-repeat $primary
    
    &_next
      background: url(/img/icons/arrow-next.png) center center no-repeat $primary

.car-list
  display: flex
  justify-content: space-between
  align-items: center

  // @media #{$media-sm-plus-down}
  //   display: none
  
  @media #{$media-sm} 
    display: none

  &__wrap
    display: flex
    flex: 0 0 99%
    position: relative
    left: -5px

  &__item
    letter-spacing: 0px
    color: $primary
    font-size: 1.6rem
    flex: 0 0 32%
    cursor: pointer
    position: relative
    padding: 35px 10px 35px 0px
    display: flex
    justify-content: flex-start
    align-items: center

  &__img
    width: 40%
    margin-right: 10px
  
  &__scroll
    position: relative
    right: 5.7rem
    top: -3px
    cursor: pointer

.active
  background: linear-gradient(90deg, $grad-start 0%, $grad-end 100%)
  position: absolute
  top: 0
  height: 2px
  width: 100%
