.content
  background: linear-gradient(180deg, $white_primary 0%, $white_secondary 100%)
  display: flex
  flex-direction: column
  min-height: 100vh
  padding-top: 165px
  width: 100%
  justify-content: space-between

  @media #{$media-sm}
    padding-top: 120px

.slide
  align-items: flex-start
  display: flex
  height: 100%

  @media #{$media-sm-plus-down}
    flex-direction: column
  
  @media #{$media-sm}
    flex-direction: column
    justify-content: space-around

  &__info
    flex: 0 0 34%
    padding-top: 35px
    margin-top: 1px

    @media #{$media-lg-down}
      padding-top: 0
      margin-bottom: 3rem

    @media #{$media-sm}
      padding-top: 0
      padding-left: 6%

    &-text
      width: 72%

      @media #{$media-sm}
        display: none

  &__picture
    position: relative
    top: -5px
    left: -13px
    width: 100%

    @media #{$media-sm} 
      display: flex
      flex-direction: column
      align-items: flex-end
      left: 10px

    &-img
      position: relative
      z-index: 2
      width: 100%

      @media #{$media-sm}
        left: 10.5%
        // transform: scale(1.28)

    &-bgText
      position: absolute
      top: -8.4rem
      left: 17px
      font-size: 20rem
      line-height: 25.1rem
      letter-spacing: -0.4rem
      color: #F2F2F2
      white-space: nowrap
      font-family: 'Source Sans Pro', sans-serif
      font-weight: 900

      @media #{$media-sm}
        font-size: 100px
        top: -140px

  &__wrap
    display: flex
    margin-top: 12px
    margin-right: 15.7%
    display: flex
    justify-content: flex-end
    align-items: center
    min-height: 6rem

    @media #{$media-sm}
      flex-direction: column
      align-items: flex-end
      justify-content: center
      text-align: right
      margin-right: 0
      padding-right: 14rem

    &_pagination
      display: flex
      flex-direction: row
      justify-content: flex-end
      padding-right: 36.6%
      position: relative
      bottom: 0

      @media #{$media-sm}
        bottom: 6rem
        padding-right: 0

  &__car-name
    font-size: 30px
    color: $primary
    letter-spacing: -1px

    @media #{$media-sm-plus-down} 
      display: flex
      flex-direction: row
      text-align: end

    @media #{$media-sm}
      display: flex
      align-items: center
      font-size: 24px
      line-height: 30px
  
  &__buy
    background: linear-gradient(90deg, #EB5757 0%, #E62887 100%)
    box-shadow: 0px 5px 15px rgba(230, 40, 135, 0.5)
    color: $white_primary
    font-size: 1.8rem
    margin-left: 5rem
    padding: 1.3rem 1.5rem
    text-transform: uppercase
    transform: matrix(0.98, 0, -0.18, 1, 0, 0)

    @media #{$media-sm} 
      display: none
    
    &_mobile
      display: none

      @media #{$media-sm} 
        display: block
        margin: 7rem auto
        position: relative
        padding: 1.5rem 3rem


    &_text
      display: block
      transform: matrix(0.98, 0, 0.18, 1, 0, 0)
      text-align: center

      @media #{$media-sm} 
        font-size: 1.8rem


  &__pagination
    width: 5rem
    height: 5rem
    background-color: $primary
    background-position: center center
    cursor: pointer

    &_prev
      background: url(/img/icons/arrow-prev.png) center center no-repeat #333333
    
    &_next
      background: url(/img/icons/arrow-next.png) center center no-repeat #333333

.car-list
  display: flex
  justify-content: space-between
  align-items: center

  // @media #{$media-sm-plus-down}
  //   display: none
  
  @media #{$media-sm} 
    display: none

  &__wrap
    display: flex
    flex: 0 0 99%
    position: relative
    left: -5px

  &__item
    letter-spacing: 0px
    color: $primary
    font-size: 1.6rem
    flex: 0 0 32%
    cursor: pointer
    position: relative
    padding: 35px 10px 35px 0px
    display: flex
    justify-content: flex-start
    align-items: center

  &__img
    width: 40%
    margin-right: 10px
  
  &__scroll
    position: relative
    right: 5.7rem
    top: -3px
    cursor: pointer

.active
  background: linear-gradient(90deg, #EB5757 0%, #E62887 100%)
  position: absolute
  top: 0
  height: 2px
  width: 100%
