.cache-images
  img(src="/img/logo.svg")
  img(src="/img/icons/facebook.svg")
  img(src="/img/icons/twitter.svg")
  img(src="/img/icons/telegram.svg")
  img(src="/img/icons/viber.svg")
  img(src="/img/lamb-sm.png")
  img(src="/img/mask-test-drive.png")
  img(src="/img/bg-test-drive.jpg")
  img(src="/img/nissan.png")
  img(src="/img/nissan-sm.png")
  img(src="/img/mask-test-drive.png")
  img(src="/img/map1.svg")
  img(src="/img/map2.svg")
  img(src="/img/lamb.png")
  img(src="/img/lamb-sm.png")
  img(src="/img/lamb-main-sc.png")
  img(src="/img/lamb-logo.png")
  img(src="/img/gtr-main-sc.png")
  img(src="/img/ford.png")
  img(src="/img/ford-sm.png")
