.cache-images
  img(src="/img/logo.svg")
  img(src="/img/icons/facebook.svg")
  img(src="/img/icons/twitter.svg")
  img(src="/img/icons/telegram.svg")
  img(src="/img/icons/viber.svg")
  img(src="/img/lamb-sm.png")
  img(src="/img/mask-test-drive.png")
  img(src="/img/bg-test-drive.jpg")
