.container.car-list-menu
  .car-list-menu__wrap
    .car-list-menu__item.fade
      img.car-list-menu__img(src="img/lamb-main-sc.png", alt="lamb")
      | Lamborghini Huracan
    .car-list-menu__item.fade
      img.car-list-menu__img(src="img/ford-main-sc.png", alt="lamb")
      | Ford Mustang (1967)
    .car-list-menu__item.fade
      img.car-list-menu__img(src="img/gtr-main-sc.png", alt="lamb")
      | Nissan GTR
