include mixins

.container.car-list-menu
  .car-list-menu__wrap
    a(href="#lamborghini").car-list-menu__item.fade.zi-3
      img.car-list-menu__img(src="/img/lamb-sm.png", alt="Lamborghini Huracan")
      | Lamborghini Huracan
    a(href="#mustang").car-list-menu__item.fade.zi-3
      img.car-list-menu__img(src="img/ford-sm.png", alt="Ford Mustang (1967)")
      | Ford Mustang (1967)
    a(href="#nissan").car-list-menu__item.fade.zi-3
      img.car-list-menu__img(src="img/ford-sm.png", alt="Nissan GTR")
      | Nissan GTR

  .car-list-menu__wrap
      img(src="img/icons/scroll.svg", alt="scroll")
