include mixins

.container.car-list-menu
  .car-list-menu__wrap
    .car-list-menu__item.fade
      img.car-list-menu__img(src="/img/lamb-sm.png", alt="Lamborghini Huracan")
      | Lamborghini Huracan
    .car-list-menu__item.fade
      img.car-list-menu__img(src="img/ford-sm.png", alt="Ford Mustang (1967)")
      | Ford Mustang (1967)
    .car-list-menu__item.fade
      img.car-list-menu__img(src="img/ford-sm.png", alt="Nissan GTR")
      | Nissan GTR
