.grid-view__wrapper
  .grid-view__col.grid-view__col_white.grow
  .grid-view__col.grid-view__col_white.grow
  .grid-view__col.grid-view__col_white.grow
  .grid-view__col.grid-view__col_white.grow
  .grid-view__col.grid-view__col_white.grow
  .grid-view__col.grid-view__col_white.grow
  .grid-view__col.grid-view__col_white.grow
  .grid-view__col.grid-view__col_white.grow
  .grid-view__col.grid-view__col_white.grow
  .grid-view__col.grid-view__col_white.grow
  .grid-view__col.grid-view__col_white.grow
  .grid-view__col.grid-view__col_white.grow