.grid-view__wrapper
  .grid-view__col.grow
  .grid-view__col.grow
  .grid-view__col.grow
  .grid-view__col.grow
  .grid-view__col.grow
  .grid-view__col.grow
  .grid-view__col.grow
  .grid-view__col.grow
  .grid-view__col.grow
  .grid-view__col.grow
  .grid-view__col.grow
  .grid-view__col.grow