.lf
  .lf__top
    .lf__top-white
    .lf__top-origin
  .container.lf__content
    .lf__col
      .lf__image-wrap
        img(src="/img/lamb-logo.png", alt="Lamborghini Huracan")
      .lf__title-wrap
        h4.cars-subtitle Интересные факты про
        h2 Lamborghini Huracan
    .lf__col
      p.white В 2008 году представители Книги рекордов Гиннеса признали Nissan GT-R самым быстрым четырехместным серийным автомобилем в мире Эта модель с 3,8-литровым мотором (480 л.с.) способна разгоняться до 100 км/ч всего за 3,5 с.
      p.white Собирать двигатель Nissan GT-R разрешено лишь пяти мастерам Takumi. Двигатель они собирают вручную и крепят к нему табличку со своим именем
  .lf__bottom
    .lf__bottom-origin
    .lf__bottom-white