include mixins

#lamborghini.container.container__right.car-container.lamborghini
  .container__col
    //- .slide__item.slide__main
    .lamborghini__image-wrap.sliders(data-slider='lamb')
      +picture('/img/lamb/main-slide22', 'Lamborghini Huracan', 'cover')(id="1", class="lamb-slides lamb-slides_main")
      +picture('/img/lamb/lamb-slide3', 'Lamborghini Huracan', 'cover')(id="1", class="lamb-slides")
      +picture('/img/lamb/lamb-slide4', 'Lamborghini Huracan', 'cover')(id="1", class="lamb-slides")
      +picture('/img/lamb/lamb-slide5', 'Lamborghini Huracan', 'cover')(id="1", class="lamb-slides")
      .lamborghini__box
    .slide__item.slide__secondary.sm-plus-down-hidden
      .slide-hover.lamb-links
        +picture('/img/lamb/main-slide', 'Lamborghini Huracan', 'cover')(id="1")
      .slide-hover.lamb-links
        +picture('/img/lamb/lamb-slide3', 'Lamborghini Huracan', 'cover')(id="1")
      .slide-hover.lamb-links
        +picture('/img/lamb/lamb-slide4', 'Lamborghini Huracan', 'cover')(id="1")
      .slide-hover.lamb-links
        +picture('/img/lamb/lamb-slide5', 'Lamborghini Huracan', 'cover')(id="1")

    +control-btn('prev-lamb-slide', 'next-lamb-slide')(class='sm-plus-up-hidden p-static')
  

  .container__col.info
    h1.info__title.mt-3 Lamborghini Huracan
    
    p.info__text Ламборгини (Lamborghini) это особое наследие мире спортивных автомобилей. Буря эмоций, многообразие деталей, китч, а главное, это праздник, - праздник скорости! В 1963 году Фурруччио Ламборгини основывает компанию, которая станет достойным конкурентом Феррари. С тех пор имя Ламборгини прочно входит в историю, как производитель дорогих спортивных авто. Наиболее желанная и востребованная машина нашего времени. очень востребована т.к. легко поддается тюнингу. 610 сильный двигатель, робот, с двумя сцеплениями - этой коробке можно довериться. 3.4 секунды нужно Ламборгини, чтобы разогнаться до 100 км/ч. Бесшумно меняют друг друга не короткие передачи - с такой динамикой это не езда, это полет!
    
    .info__specifications.col-6
      .info__specifications-wrap
        .info__specifications-item
          p.small.bold.info__specifications-title год выпуска
          p.small 2015

        .info__specifications-item
          p.small.bold.info__specifications-title трансмиссия
          p.small полный привод

        .info__specifications-item
          p.small.bold.info__specifications-title разгон до 100 км/ч
          p.small 3.4 сек

      .info__specifications-wrap
        .info__specifications-item
          p.small.bold.info__specifications-title двигатель
          p.small 5.2 литра

        .info__specifications-item
          p.small.bold.info__specifications-title мощность двигателя
          p.small 610 л/с

        .info__specifications-item
          p.small.bold.info__specifications-title разгон от 100 до 200 км/ч
          p.small 6.3 сек

    +gradient-btn()(href='/')
