include mixins

#map.lf
  .lf__top.reverse-top
    .lf__top-origin
    .lf__top-white.map__top-white
  .container.lf__content.map
    .lf__col.map__col( data-aos="fade-down"  data-aos-duration="600" )
      h2.map__title Маршруты 
       .no-wrap тест-драйва
      .map__text-wrap.map__one
        p.white Бориспольская трасса. Старт от Ресторанного комплекса Crazy BBQ, выезд на трассу. До первого моста (поворот на????) там разворачиваемся по направлению к г.Борисполь. Разворачиваемся на мосту (поворот на Александровку). Возврат в Crazy BBQ.
        p.white Полный маршрут примерно 11-12 км
        p.white время в пути ~ 15 мин
      .map__one_mobile
        img.map__image(src="/img/map1.svg", alt="")
    .lf__col.map__col( data-aos="fade-up"  data-aos-duration="600" )
      .map__two_mobile
        img.map__image(src="/img/map2.svg", alt="")
      .map__text-wrap.map__two
        p.white Бориспольская трасса. Старт от Ресторанного комплекса Crazy BBQ, выезд на трассу. До первого моста (поворот на????) там разворачиваемся по направлению к г.Борисполь. Разворачиваемся на мосту (поворот на Александровку). Возврат в Crazy BBQ.
        p.white Полный маршрут примерно 11-12 км
        p.white время в пути ~ 15 мин
      .map__btn-wrap
        .text-center
          +gradient-btn()(href='#')
  .lf__bottom.reverse-bottom
    .lf__bottom-white.map__bottom-grey
    .lf__bottom-origin
