#menu-mobile.container.menu-mobile
  include grid-view
  .menu-mobile__header
    img#burger.navbar__burger(src="/img/icons/menu.svg",, alt="menu")
    img.menu-mobile__logo(src="/img/logo.svg",, alt="logo")

  .menu-mobile__content
    p Lamborghini Huracan
