.lf
  .lf__top.reverse-top
    .lf__top-origin
    .lf__top-white
  .container.lf__content
    .lf__col
      .lf__image-wrap
        img(src="/img/mustang/mustang-logo.svg", alt="Ford Mustang 67 coupe")
      .lf__title-wrap
        h4.cars-subtitle Интересные факты про
        h2 Ford Mustang 67 coupe
    .lf__col
      p.white Создатель авто, Ли Якокка, долго не мог определиться с именем авто. Изначально полагали, что это будет модификация Ford Falcon, но позже поняли, что необходимо сделать его отдельным автомобилем и начали искать ему имя. Команда выбирала между Bronco, Puma, Cheetah, Colt, но, все же остановились на Mustang.
      p.white Необычная судьба постигла первый экземпляр Ford Mustang. Перед тем, как представить авто потребителю, производители отдают первый экземпляр в для тестов. Но кто-то допустил ошибку в адресе доставки и Мустанг отправили домой пилоту, который не был сотрудником Ford. Только спустя два года переговоров концерну удалось-таки заполучить авто обратно.lf__bottom
  .lf__bottom.reverse-bottom
    .lf__bottom-white
    .lf__bottom-origin