include mixins
 
.container.container__left.services
  .services__title-wrap
    h1.info__title Цены

  .services__card-wrap
    .price-card
      .price-card__image-wrap
        img.price-card__image(src="/img/lamb-sm.png", alt="Lamborghini Huracan")
      .card__content.card__content-left
        h3.card__title.price-card__title Lamborghini Huracan
        .price-card__col
          p.card__text Цена тест-драйв круг - 20 км, 15 мин
        .price-card__col
          p.card__text Поездка с инструктором (пассажир)
        .price-card__col
          p.card__text Мероприятия / фотосессия