include mixins
 
.container.container__left.services.prices
  .services__title-wrap.prices__title-wrap
    h1.info__title.sm-plus-up-hidden Цены

  .services__card-wrap
    .price-card-desktop.sm-plus-down-hidden
      .price-card-desktop__row
        .price-card-desktop__col
          h1.info__title.price-card-desktop__header Цены
        .price-card-desktop__col
          .price-card__image-wrap
            img.price-card__image(src="/img/lamb-sm.png", alt="Lamborghini Huracan")
          .card__content.card__content-left.price-card__content
            h3.card__title.price-card__title.price-card-desktop__title Lamborghini Huracan
        .price-card-desktop__col
          .price-card__image-wrap
            img.price-card__image(src="/img/nissan-sm.png", alt="Nissan GTR")
          .card__content.card__content-left.price-card__content
            h3.card__title.price-card__title.price-card-desktop__title Nissan GTR
        .price-card-desktop__col
          .price-card__image-wrap
            img.price-card__image(src="/img/ford-sm.png", alt="Ford Mustang 67 coupe")
          .card__content.card__content-left.price-card__content
            h3.card__title.price-card__title.price-card-desktop__title Ford Mustang 67 coupe

      .price-card-desktop__row.price-anim
        .price-card-desktop__col
          p.card__text.price-card__text Цена тест-драйв круг - 20 км, 15 мин
        .price-card-desktop__col
          p.card__text.bold.price-card__text 3500 грн
        .price-card-desktop__col
          p.card__text.bold.price-card__text 3200 грн
        .price-card-desktop__col
          p.card__text.bold.price-card__text 3000 грн

      .price-card-desktop__row.price-anim
        .price-card-desktop__col
          p.card__text.price-card__text Поездка с инструктором (пассажир)
        .price-card-desktop__col
          p.card__text.bold.price-card__text 1500 грн
        .price-card-desktop__col
          p.card__text.bold.price-card__text 1500 грн
        .price-card-desktop__col
          p.card__text.bold.price-card__text 1500 грн

      .price-card-desktop__row.price-anim
        .price-card-desktop__col
          p.card__text.price-card__text Мероприятия / фотосессия
        .price-card-desktop__col
          p.card__text.bold.price-card__text уточняйте
        .price-card-desktop__col
          p.card__text.bold.price-card__text уточняйте
        .price-card-desktop__col
          p.card__text.bold.price-card__text уточняйте

    .price-card.sm-plus-up-hidden
      .price-card__image-wrap
        img.price-card__image(src="/img/lamb-sm.png", alt="Lamborghini Huracan")
      .card__content.card__content-left.price-card__content
        h3.card__title.price-card__title Lamborghini Huracan
        .price-card__col.price-anim
          p.card__text.price-card__text.sm-plus-up-hidden Цена тест-драйв круг - 20 км, 15 мин
          p.card__text.bold.price-card__text 3500 грн
        .price-card__col.price-anim
          p.card__text.price-card__text.sm-plus-up-hidden Поездка с инструктором (пассажир)
          p.card__text.bold.price-card__text 1500 грн
        .price-card__col.price-anim
          p.card__text.price-card__text.sm-plus-up-hidden Мероприятия / фотосессия
          p.card__text.bold.price-card__text уточняйте

    .price-card.sm-plus-up-hidden
      .price-card__image-wrap
        img.price-card__image(src="/img/nissan-sm.png", alt="Nissan GTR")
      .card__content.card__content-left.price-card__content
        h3.card__title.price-card__title Nissan GTR
        .price-card__col.price-anim
          p.card__text.price-card__text.sm-plus-up-hidden Цена тест-драйв круг - 20 км, 15 мин
          p.card__text.bold.price-card__text 3200 грн
        .price-card__col.price-anim
          p.card__text.price-card__text.sm-plus-up-hidden Поездка с инструктором (пассажир)
          p.card__text.bold.price-card__text 1500 грн
        .price-card__col.price-anim
          p.card__text.price-card__text.sm-plus-up-hidden Мероприятия / фотосессия
          p.card__text.bold.price-card__text 850 грн/ч

    .price-card.sm-plus-up-hidden
      .price-card__image-wrap
        img.price-card__image(src="/img/ford-sm.png", alt="Ford Mustang 67 coupe")
      .card__content.card__content-left.price-card__content
        h3.card__title.price-card__title Ford Mustang 67 coupe
        .price-card__col.price-anim
          p.card__text.price-card__text.sm-plus-up-hidden Цена тест-драйв круг - 20 км, 15 мин
          p.card__text.bold.price-card__text 3000 грн
        .price-card__col.price-anim
          p.card__text.price-card__text.sm-plus-up-hidden Поездка с инструктором (пассажир)
          p.card__text.bold.price-card__text 1500 грн
        .price-card__col.price-anim
          p.card__text.price-card__text.sm-plus-up-hidden Мероприятия / фотосессия
          p.card__text.bold.price-card__text уточняйте