.slider__wrap
  .main-slides.main-slides_1.fade
    h1 text 1
  .main-slides.main-slides_2.fade
    h1 text 2
  .main-slides.main-slides_3.fade
    h1 text 3

  #prev-slide.slide__button.slide__button_prev prev-slide
  #next-slide.slide__button.slide__button_next next-slide

.car__wrapp
  img(src='/img/test.png').main-links
  img(src='/img/test.png').main-links
  img(src='/img/test.png').main-links