include mixins

block vars
  - var title = "Adrenalin-Drive"

.welcome-screen
  .container.container__right.content

    include navigation
    
    div
      .slide-conteiner.sliders(data-slider='main')
        .slide.main-slides.fade
          .slide__info
            h1 Ощутить мощность сверх-автомобиля, теперь можно в Украине.
            p.slide__info-text Что вы знаете о суперкарах - сверх мощные и невероятно дорогие, они всегда будут захватывать воображение автолюбителя. Теперь для того, чтобы ощутить всю мощь на себе, вовсе не обязательно становиться его владельцем. Воспользоваться уникальной возможностью ощутить мощность сверх автомобиля, теперь можно в Украине. Свяжитесь с нами уже сейчас!
          .slide__picture
            img.slide__picture-img(src="img/lamb.png", alt="lamb")
            //- +picture-png('img/lamb', 'Lamborghini Huracan')(class='slide__picture-img')
            span.slide__picture-bgText Lamborghini Huracan
            .slide__wrap
              .slide__car-name Lamborghini Huracan
              .slide__buy
                span.slide__buy_text Заказать 
                  span.no-wrap тест-драйв

        .slide.main-slides.fade
          .slide__info
            h1 Ощутить мощность сверх-автомобиля, теперь можно в Украине.
            p.slide__info-text Что вы знаете о суперкарах - сверх мощные и невероятно дорогие, они всегда будут захватывать воображение автолюбителя. Теперь для того, чтобы ощутить всю мощь на себе, вовсе не обязательно становиться его владельцем. Воспользоваться уникальной возможностью ощутить мощность сверх автомобиля, теперь можно в Украине. Свяжитесь с нами уже сейчас!
          .slide__picture
            img.slide__picture-img(src="img/ford.png", alt="Ford Mustang 67 coupe")
            span.slide__picture-bgText Ford Mustang 67 coupe
            .slide__wrap
              .slide__car-name  Ford Mustang 67 coupe
              .slide__buy
                span.slide__buy_text Заказать 
                  span.no-wrap тест-драйв

        .slide.main-slides.fade
          .slide__info
            h1 Ощутить мощность сверх-автомобиля, теперь можно в Украине.
            p.slide__info-text Что вы знаете о суперкарах - сверх мощные и невероятно дорогие, они всегда будут захватывать воображение автолюбителя. Теперь для того, чтобы ощутить всю мощь на себе, вовсе не обязательно становиться его владельцем. Воспользоваться уникальной возможностью ощутить мощность сверх автомобиля, теперь можно в Украине. Свяжитесь с нами уже сейчас!
          .slide__picture
            img.slide__picture-img(src="img/nissan.png", alt="Nissan GTR")
            span.slide__picture-bgText Nissan GTR
            .slide__wrap
              .slide__car-name Nissan GTR
              .slide__buy
                span.slide__buy_text Заказать 
                  span.no-wrap тест-драйв

      .slide__wrap_pagination
        #prev-slide.slide__pagination.slide__pagination_prev
        #next-slide.slide__pagination.slide__pagination_next

    .main-button.slide__buy.slide__buy_mobile
      span.main-button__text Заказать 
        span.no-wrap тест-драйв

    .car-list
      .car-list__wrap
        .car-list__item.fade
          .main-links.active
          img.car-list__img(src="img/lamb-main-sc.png", alt="lamb")
          | Lamborghini Huracan
        .car-list__item.fade
          .main-links
          img.car-list__img(src="img/ford-main-sc.png", alt="lamb")
          | Ford Mustang (1967)
        .car-list__item.fade
          .main-links
          img.car-list__img(src="img/gtr-main-sc.png", alt="lamb")
          | Nissan GTR
      .car-list__wrap
        img.car-list__scroll(src="img/icons/scroll.png", alt="scroll")
