extends partials/layout

block vars
  - var title = "A-Drive"

block content
  include partials/welcome-screen
  include partials/test-drive
  include partials/car-list
  include partials/lamborghini
